{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
input, textarea{  
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  border: none;  
}
h1, h5{
  text-align: center;
  color: rgb(0, 23, 126);
}
p,span,label{
  color: rgb(0, 23, 126);
}
button{
  align-self: center;
}
img.j{
  position:absolute;
  top: 35px;
  left: 20px
}
label.requiredField{
  font-size: 20px;
}
div#div_id_background_image a, div#div_id_image a{
  font-size: small;
}

div#div_id_background_image, div#div_id_image{
  font-size:larger;
}
#myDIV{
  display: none;
}


@media screen and (max-width: 20000px) {
  .ac{
    height:500px;
  }
}
@media screen and (max-width: 1000px) {
  .ac{
    height:400px;
  }
}
@media screen and (max-width: 500px) {
  .ac{
    height:300px;
  }
}


@media screen and (max-width: 480px) {
    .content-section{
      display: block;
    }
  }

</style>
<script>
  
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    </script>

      <div class="media contentsec">
        <img class="ac backimage" width="100%" height="250px" src="{{ user.profile.background_image.url }}">
        <img class="rounded-circle account-img j" src="{{ user.profile.image.url }}">  
      </div>
      <div class="content-section">     
      <h1 style="text-transform: capitalize;">{{ user.username}}</h1>
        <h5 style="text-transform: capitalize;">{{user.profile.bio}}</h5>
        <br>
        <button onclick="myFunction()" class="btn btn-warning">update profile</button>
        
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
         <br>
          <div class="updateclass" id="myDIV">
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              <div id="id_username" class="form-group"> <label for="id_username">Username:</label><input class="textinput form-control" type="text" oninput="this.value = this.value.toLowerCase()" style="text-transform: capitalize;" name="username" value="{{user.username}}" maxlength="30" required id="id_username"><br><span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></div>
<div id="id_email" class="form-group">
<label for="id_email">
Email:</label>
<input maxlength="40" type="email" name="email" oninput="this.value = this.value.toLowerCase()" style="text-transform: capitalize;" value="{{user.email}}" required id="id_email" class="textinput form-control">
              <br>
</div>

              <br>
              
<div id="div_id_background_image" class="form-group"> <label for="id_background_image" class=" requiredField">
  Background image<span class="asteriskField">*</span> </label> <div class="">
      Currently: <a href="{{ user.profile.background_image.url }}">{{user.profile.background_image}}</a><br>
Change:
<input type="file" name="background_image"  accept="image/*" class="clearablefileinput form-control-file" id="id_background_image"> </div> </div> <div id="div_id_image" class="form-group"> <label for="id_image" class=" requiredField">
  Image<span class="asteriskField">*</span> </label> <div class="">
      Currently: <a href="{{ user.profile.image.url }}">{{user.profile.image}}</a><br>
Change:
<input type="file" name="image" accept="image/*" class="clearablefileinput form-control-file" id="id_image"> </div> </div> <div id="div_id_bio" class="form-group"> <label for="id_bio" class=" requiredField">
  Bio<span class="asteriskField">*</span> </label> <div class=""> <textarea name="bio" cols="30" maxlength="180" rows="10"  class="textarea form-control" required id="id_bio">
{{user.profile.bio}}</textarea> </div> </div>

              <br>
              {{u_formtwo|crispy}}
              <br>
           
              <br>
              {{B_form|crispy}}
              <br>
           
           <div id="div_id_mobileno" class="form-group"> <label for="id_mobileno" class=" requiredField">
            Mobileno<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="mobileno" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" value="{{ user.phonenumbers.mobileno}}" maxlength = "10"  class="numberinput form-control" required id="id_mobileno"> </div> </div>
            
           

          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
        
      
      </div>
          
      </form>
      

    </div>
{% endblock content %}
