{% extends "blog/base.html" %}
{% block content %}
<style>
    h1{
        text-align: center;
    }
</style>
<div>
<h1> Welcome {{user.username}}</h1>
<br>
<ul>
    <li>This is a blog to share your thoughts and views</li>
    <li>Follow general community guidelines.</li>
    <li>Posting anything harmful or spreading hate against any community or a person will be viewed seriously, if done Your account will be blocked.</li>
</ul>

</div>
<br><br>
<div>
    <h1>Developer Contact</h1>
    <br>
    <div class="px-5">
    <h5>Name: Jagatheeswar.R</h5>
    <h5>Email: jagatheeswar.r3@gmail.com</h5>
    <h5>Instagram: <a href="https://www.instagram.com/jagatheeswar_300/"><i class="fa fa-instagram"> instagram</i></a></h3>
    </div>
</div>
{% endblock content %}